@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; 
  /* Change font color to white */
}

body {
  background-image: url(bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.book-list-container {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 10px, rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 46, 46, 0.1) 0px 20px, rgba(240, 46, 46, 0.05) 0px 25px;
  width: 100vw;
  padding: 10px 8vw;
  margin-bottom: 40px;
}

h2 {
  font-size: 3vw;
  margin-left: -140px ;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #bb2222 ;

}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
}

.search-input {
  padding: 10px;
  width: 95%;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  border: 2px solid #ef3837;
  background-color: black; /* Change input background color to black */
}

.register-button {
  background-color: #bb2222;
  padding: 10px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #616060;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 60px;
  max-width: 80%;
  margin: 20px auto;
  justify-content: center;
  
}

.book-card {
  border: 1px solid #d84b4b;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.book-card:hover{
  background-color: #616060;
  transform: scale(1.1);
  
}

.book-thumbnail {
  max-height: calc(100%-10px);
}

.book-details {
  margin-top: 20px;
}

.book-title {
  font-weight: lighter;
  font-size: 20px;
}

.book-authors {
  font-size: 16px;
  margin-top: 10px;
}

.book-rating {  
  font-size: 14px;
  margin-top: 10px;
}

#logoimg{
  height: 6vw;
  width: 6vw;
  margin-left: -65px;

}

